h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;

}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: rgb(43, 130, 156);
    padding: 2em 1em;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}


h1, h2, strong {
    color: #011a48;
}


h4 {
    text-align: center;
    font-size: 3rem;
    background-color: #bb6d40;
}

.button {
    background-color: #adcdcf;
}

.choix show {
    background-color: #adcdcf;
    min-width: 50px;
}

.choix option {
    background-color: #adcdcf;
    color: black;
    padding: 20px;
    display: block;
}

.photo img {
    background-color: #bb6d40;
    height: 200px;
    width: auto;
    border-radius: 8px;
}

.product {
    text-align: center;
    margin-bottom: 2em;
    border: 2px solid rgb(0, 0, 0);
    padding-left: 10px;

    background-clip: content-box;
}

.product-im {
    text-align: right;
}


.left {
    width: 44%;
    height: 200px;
    margin-right: 20px;
}

.right {
    width: 43%;
    height: 200px;
    column-width: 60px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.container {
    width: 900px;
    margin-top: 20px
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center
}

.card {
    background-color: #bb6d40;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(58, 57, 57, 0.2), 0 6px 20px 0 rgba(58, 57, 57, 0.2);
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
}

.image-container {
    position: relative;
}

.thumbnail-image {
    border-radius: 10px !important;
    height: 230px;
    width: 226px;
}


.wishlist {
    height: 25px;
    width: 25px;
    background-color: rgb(201, 227, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(58, 57, 57, 0.2), 0 6px 20px 0 rgba(58, 57, 57, 0.2);
    cursor: pointer
}

.first {
    position: absolute;
    width: 100%;
    padding: 9px
}

.dress-name {
    font-size: 13px;
    font-weight: bold;
    width: 75%
}


.new-price {
    font-size: 13px;
    color: white;
    background-color: #adcce2;
    padding: 5px;
    border-radius: 20%
}